
:root {
  --accent: #b38e14;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


.btn-primary,
.btn-outline {
  transition: 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
